@model CPS_Solution.Models.HighlightModel
@{
    ViewBag.Title = " Sản phẩm nổi bật";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="page-wrap">
    <div class="main-content">
        <div class="container">
            @Html.Partial("_LoadHighlightList", Model));       
        </div>
    </div>
</div>

@*Compare cart*@
<p class="list-cart stylish-button" style="border-top-left-radius:5px; border-bottom-left-radius:5px; position:fixed; top:200px; right:0px; color:white; padding:6px 6px 6px 10px; background-color: #FF3333"><i class="icon-shopping-cart"></i></p>
<div id="compare_panel" >
    <h4><strong>Danh sách sản phẩm</strong></h4>
    <ul></ul>
    <label class="compare-button">
        <span>So sánh</span>
    </label>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#compare_panel ul").html() != "") {
            return false;
        } else {
            checkSession();
        }
    });
</script>

@*Modified cart list for this page - vietht*@
<script src="~/Template/stylish.holobest.com/scripts/modified-cart.js"></script>
