body
{
	background-image:url(../images/bg/wood_pattern.jpg);
    background-repeat: repeat;
}

div#da-header #da-header-top
{
	background-image:url(../Template/stylish.holobest.com/images/bg-wood.jpg);
}
