/**********************************************************************************************************************/
/************************************************ Header Navigation ***************************************************/
/**********************************************************************************************************************/
#first-nav-pill {
    background-color: #F87912;
}

#first-nav-pill > ul > li:first-child {
    border-top: 2px solid #F87912;
    width: 100px;
}

#first-nav-pill > ul > li a:hover, #first-nav-pill > ul > li a:focus {
    background-color: #F87912;
    background-image: none;
}

#second-nav-pill {
    background-color: #FFCC00;
}

#second-nav-pill > ul > li:first-child {
    border-top: 2px solid #ffcc00;
    width: 100px;
}

#second-nav-pill > ul > li a:hover, #second-nav-pill > ul > li a:focus {
    background-color: #FFCC00;
    background-image: none;
}

#third-nav-pill {
    background-color: #AADD00;
}

#third-nav-pill > ul > li:first-child {
    border-top: 2px solid #AADD00;
    width: 100px;
}

#third-nav-pill > ul > li > a:hover, #third-nav-pill > ul > li > a:focus {
    background-color: #AADD00;
    background-image: none;
}

#fourth-nav-pill {
    background-color: #00CCCC;
}

#fourth-nav-pill > ul > li:first-child {
    border-top: 2px solid #00CCCC;
    width: 100px;
}

#fourth-nav-pill > ul > li > a:hover, #fourth-nav-pill > ul > li > a:focus {
    background-color: #00CCCC;
    background-image: none;
}

#fifth-nav-pill {
    background-color: #666699;
}

#fifth-nav-pill > ul > li:first-child {
    border-top: 2px solid #666699;
    width: 100px;
}

#fifth-nav-pill > ul > li > a:hover, #fifth-nav-pill > ul > li > a:focus {
    background-color: #666699;
    background-image: none;
}

#sixth-nav-pill {
    background-color: #FF3333;
}


/**********************************************************************************************************************/
/*************************************************** Top Image *******************************************************/
/**********************************************************************************************************************/
#top-image {
    height: 240px;
}

.top-image1 {
    background: transparent url(../images/header-image.png) top left no-repeat;
}

.top-image2 {
    background: transparent url(../images/header-image2.png) top left no-repeat;
}

.top-image3 {
    background: transparent url(../images/header-image3.png) top left no-repeat;
}

.top-image4 {
    background: transparent url(../images/header-image4.png) top left no-repeat;
}

/**********************************************************************************************************************/
/************************************************ Slider Captions *****************************************************/
/**********************************************************************************************************************/
.caption {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 36px;
    font-weight: lighter;
    line-height: 45px;
    color: #fff;
    background: url('img/header-bg.png') repeat;
    padding: 0 10px;
}

/**********************************************************************************************************************/
/***************************************************** Buttons ********************************************************/
/**********************************************************************************************************************/
.stylish-button, .stylish-button {
    background-color: #7DBB18;
}

.stylish-button-2 {
    background-color: #F87912;
}

.buttons-404 a.stylish-button {
    margin: 0 0 10px 0;
}

/**********************************************************************************************************************/
/***************************************************** Services *******************************************************/
/**********************************************************************************************************************/
.service-box-1 {
    background-color: #EE612C;
}

.service-box-2 {
    background-color: #EF832B;
}

.service-box-3 {
    background-color: #EEA32C;
}

.service-box-4 {
    background-color: #EEBE2C;
}

.cps-tabs:before,
.cps-pills:before,
.cps-tabs:after,
.cps-pills:after {
  display: table;
  line-height: 0;
  content: "";
}

.cps-tabs:after,
.cps-pills:after {
  clear: both;
}

.cps-tabs > li,
.cps-pills > li {
  float: left;
  background-color: #ea9393;
}

.cps-tabs > li > a,
.cps-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.cps-tabs {
  border-bottom: 1px solid #ddd;
}

.cps-tabs > li {
  margin-bottom: -1px;
}

.cps-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.cps-tabs > li > a:hover,
.cps-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #dddddd;
}

.cps-tabs > .active > a,
.cps-tabs > .active > a:hover,
.cps-tabs > .active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #d83c3c;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}




.tabs-left > .cps-tabs > li,
.tabs-right > .cps-tabs > li {
  float: none;
}

.tabs-left > .cps-tabs > li > a,
.tabs-right > .cps-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .cps-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .cps-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .cps-tabs > li > a:hover,
.tabs-left > .cps-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .cps-tabs .active > a,
.tabs-left > .cps-tabs .active > a:hover,
.tabs-left > .cps-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

/*.services-row {
    margin: 0 0 5px 0;
}*/

/**********************************************************************************************************************/
/****************************************** Standard Element Container ************************************************/
/**********************************************************************************************************************/
.standard-element-container-1 {
    background: url(../images/element-bg-image1.png) top center no-repeat;
}

.standard-element-container-2 {
    background: #F5F5F6 url(../images/element-bg-image2.png) top center no-repeat;
}

.standard-element-image {
    margin-bottom: -75px;
    margin-left: -70px
}

.element-image-center {
    margin: 0 auto -75px !important;
    max-width: 995px;

}
/**********************************************************************************************************************/
/************************************************* Pricing Tables *****************************************************/
/**********************************************************************************************************************/
.pricing-table .stylish-button {
    background-color: #777777;
}

.highlighted-table .stylish-button {
    background-color: #7DBB18;
}

#header-navigation ul li {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}

#header-navigation > ul > li:hover {
    padding-top: 8px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}