@model CPS_Solution.Models.HighlightModel
@{
    ViewBag.Title = " Sản phẩm nổi bật";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<style>
 .ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  background:#fff;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
 }
 * html .ui-autocomplete {
  height: 100px;
 }
 </style>
<div class="main-content" style="position: fixed; height: auto; width: 100%; z-index: 3">
    <div class="container">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#searchByName" data-toggle="tab" style="font-size: larger; font-weight: 500; color: #fff; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif"><strong>Tìm theo tên</strong></a>
                </li>
                <li class=""><a href="#searchByPrice" data-toggle="tab" style="font-size: larger; font-weight: 500; color: #fff; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif"><strong>Tìm theo giá</strong></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="searchByName">
                    @using (Html.BeginForm("SearchForProduct", "Product", FormMethod.Post, new { @class = "form-wrapper cf", @style = "margin-left:0px;margin-top:15px" }))
                    {
                        @Html.TextBox("productName", ViewBag.CurrentFilter as string, new { placeholder = "Từ khóa..." })
                        <button type="submit">Tìm kiếm</button>               
                    }
                </div>
                <div class="tab-pane fade" id="searchByPrice">

                    @using (Html.BeginForm("SearchByPriceAndBrandTop3", "Product", FormMethod.Post, new { @class = "form-wrapper cf", @style = "margin-left:0px;margin-top:15px" }))
                    {
                        @Html.DropDownList("brands", ViewBag.ListBrands as List<SelectListItem>, new { @style = "width:100px;height:40px" })
                        @Html.DropDownList("prices", ViewBag.ListPrices as List<SelectListItem>, new { @style = "width:225px;height:40px" })
                        <button type="submit" style="width: 125px; margin-left: -5px; z-index: 4">Tìm kiếm</button>               
                    }
                </div>
            </div>
        </div>

        <div class="hide-icon" style="display: none">
            <center><i class="icon-chevron-sign-down"></i></center>
        </div>
    </div>
</div>
<div id="page-wrap">
    <div class="main-content">
        <div class="container">
            @Html.Partial("_LoadHighlightList", Model));       
        </div>
    </div>
</div>

@*Compare cart*@
<p class="list-cart stylish-button" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px; position: fixed; top: 200px; right: 0px; color: white; padding: 6px 6px 6px 10px; background-color: #FF3333"><i class="icon-shopping-cart"></i></p>
<div id="compare_panel">
    <h4><strong>Danh sách sản phẩm</strong></h4>
    <ul></ul>
    <label class="compare-button">
        <span>So sánh</span>
    </label>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#compare_panel ul").html() != "") {
            return false;
        } else {
            checkSession();
        }
    });
</script>

@*Modified cart list for this page - vietht*@
<script src="~/Template/stylish.holobest.com/scripts/modified-cart.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#productName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Product/SuggestProductName",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>
