@model CPS_Solution.Models.HighlightModel
@{
    ViewBag.Title = " Sản phẩm nổi bật";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="page-wrap">
    <div class="main-content">
        <div class="container">
            @Html.Partial("_LoadHighlightList", Model));       
        </div>
    </div>
</div>
