<div class="products-layout grid m-t-b add-cart" data-product-id=".entry-id > p" data-product=".product" data-thumbnail=".entry-media .thumb" data-title=".entry-title > a" data-url=".entry-title > a" data-price=".entry-price > .price">
    <div>
        <center>  <h2>Rất tiếc, chúng tôi không tìm thấy kết quả nào phù hợp với từ khóa của bạn.</h2></center>
        <h3>
            <p class="text-warning">Hãy thử lại với những cách sau: </p>
        </h3>


        <table>
            <tr>
                <td><span class="label label-success">1)</span></td>
                <td>
                    <h4>Kiểm tra lại từ khóa có thể bạn đã gõ sai (Ví dụ: Asus3500 = As3500)</h4>
                </td>
            </tr>

            <tr>
                <td><span class="label label-success">2)</span></td>
                <td>
                    <h4>Dùng từ khóa ngắn gọn và đơn giản hơn.</h4>
                </td>
            </tr>
            <tr>
                <td><span class="label label-success">3)</span></td>
                <td>
                    <h4>Click vào <a>đây</a> để thử lại.</h4>
                </td>
            </tr>
            <tr>
                <td><span class="label label-success">4)</span><br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </td>
                <td>
                    <h4>Vẫn không tìm thấy sản phẩm bạn muốn. Xin hãy cung cấp cho chúng tôi thông tin về sản phẩm.  
                        <br />
                        <br />
                        Bạn có thể lựa chọn gửi cho chúng tôi một trong hai thông tin dưới đây:
					<br />
                        - Nguồn gốc - Đường dẫn tới trang web chứa sản phẩm bạn muốn được gợi ý.
                    <br />
                        - Cấu hình -  cấu hình sản phẩm mà bạn muốn được gợi ý.
					<br />
                        <br />
                        Chúng tôi sẽ liên lạc với bạn thông báo về tình trạng sản phẩm này.</h4>

                </td>
            </tr>
        </table>
    </div>
</div>
