@model IEnumerable<CPS_Solution.EntityFramework.Product>

@{
    ViewBag.Title = "Compare";
    Layout = "~/Views/Shared/_LayoutUserPage.cshtml";
}

<h2>Compare</h2>

<div style="background-color:red;">
<table class="table bordered" >
    @foreach (var item in Model) {
        <tbody style="margin-right:30px;"><tr style="margin-right:30px;">@Html.DisplayFor(modelItem => item.Name)</tr></tbody>
    }

</table>
    </div>

<table class="table bordered">
    @foreach (var item in Model) { 
    <tbody><tr>@Html.DisplayFor(modelItem => item.Name)</tr></tbody>
    }
</table>
