@using CPS_Solution.Areas.Admin.Helpers;
@{
    ViewBag.Title = "Cảm ơn";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ConfigureHelper helper = new ConfigureHelper();
    int second = helper.GetTimeoutTime();
}

<script>
    // Our countdown plugin takes a callback, a duration, and an optional message
    $.fn.countdown = function (callback, duration, message) {
        // If no message is provided, we use an empty string
        message =  message || "";
        // Get reference to container, and set initial content
        var container = $(this[0]).html("Hệ thống sẽ tự động trở về trang chủ sau:" + duration + message);
        // Get reference to the interval doing the countdown
        var countdown = setInterval(function () {
            // If seconds remain
            if (--duration) {
                // Update our container's message
                container.html("Hệ thống sẽ tự động trở về trang chủ sau: " + duration + message);
                // Otherwise
            } else {
                // Clear the countdown interval
                clearInterval(countdown);
                // And fire the callback passing our container as `this`
                callback.call(container);
            }
            // Run interval every 1000ms (1 second)
        }, 1000);

    };

    // Use p.countdown as container, pass redirect, duration, and optional message
    $(".countdown").countdown(redirect,@second, " giây");

    // Function to be called after 5 seconds
    function redirect() {
        window.location = "http://localhost:28758";
    }
</script>
@section navigator
{
    @*    <div id="top-image" class="top-image4">*@
    @*        <div class="container">*@
    @*            <div id="top-image-caption">*@
    @*                $1$<h2 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif"> </h2>#1#*@
    @*            </div>*@
    @*        </div>*@
    @*    </div>*@
    <div class="gray-element" style="margin-top: 70px;">
        <div class="page-element standard-element-container-1">
            <div class="container element-container standard-element">
                <div class="row">
                    <div class="span6 element-image-left fadeLeft animated fadeInLeft" style="visibility: visible;">
                        <img class="standard-element-image" src="/Template/stylish.holobest.com/images/slide-image-1.png" style="margin-left: 50px; height: 250px; width: 300px">
                    </div>

                    <div class="span6 fadeRight animated fadeInRight" style="visibility: visible;">
                        <h3>
                            <center>Cảm ơn bạn đã giúp chúng tôi hoàn thiện hệ thống</center>
                        </h3>

                        <ul class="list unstyled custom-list-small">
                            <li><i class="icon-ok"></i>
                                <p>Chúng tôi sẽ xem xét sản phẩm bạn vừa đề xuất trong thời gian sớm nhất.</p>
                            </li>
                        </ul>
                        <ul class="list unstyled custom-list-small">
                            <li><i class="icon-ok"></i>
                                <p>Khi sản phẩm bạn đề xuất được cập nhật, chúng tôi sẽ gửi thông báo.</p>
                            </li>
                        </ul>
                        <ul class="list unstyled custom-list-small">
                            <li><i class="icon-ok"></i>
                                <p>Chúng tôi xin chân thành cảm ơn sự tin tưởng và đề xuất, đóng góp quý giá từ bạn</p>
                            </li>
                        </ul>
                        <ul class="list unstyled custom-list-small">
                            <li><i class="icon-ok"></i>
                                <p>Bấm vào <a href="@Url.Action("Index", "Home")">đây</a> để quay về trang chủ</p>
                            </li>
                        </ul>
                        <ul class="list">

                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

