<!DOCTYPE html>
<html>
<link href="css/flatstrap.css" rel="stylesheet" media="screen">
<link href="css/docs.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-theme.css" rel="stylesheet" media="screen">

<head>
</head>
<body>
	<table align="center">
		<legend align="center">Change password</legend>
		
		<tr>
			<td><label>Old Password:</label></td>
			<td><input type="password" class="form-control"id="exampleInputPassword1"></td>
		</tr>
		<tr>
			<td><label>New Password:</label></td>
			<td><input type="password" class="form-control"id="exampleInputPassword1"></td>
		</tr>
		<tr>
			<td><label>Confirm new Password:</label></td>
			<td><input type="password" class="form-control"id="exampleInputPassword1"></td>
		</tr>
	</table>
	<hr>
	<form action="" align="center">
			<button type="button" class="btn btn-primary">Change</button>
			<button type="button" class="btn btn-danger">Cancel</button>
		</form>
</body>
</html>