<!DOCTYPE html>
<html>
<link href="css/flatstrap.css" rel="stylesheet" media="screen">
<link href="css/docs.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-theme.css" rel="stylesheet" media="screen">
<head>
	<style>
		div.img
		  {
		  margin:5px;
		  padding: 5px;
		  border:1px solid #0000ff;
		  height:130px;
		  width:auto;
		  float:left;
		  text-align:center;
		  }
		div.img img
		  {
		  display:inline;
		  margin:5px;
		  border:1px solid #ffffff;
		  }
		div.img a:hover img
		  {
		  border:1px solid #0000ff;
		  }
		div.desc
		  {
		  text-align:center;
		  font-weight:normal;
		  width:120px;
		  margin:5px;
		  }
	</style>
</head>
<body>
	<table align="center"border="1" style="border-collapse:collapse">
		<legend align="center"><b>COMPARE</b></legend>
		<tr>
			<td><img src="img/vaio.jpg" style="width:250px; height:250px"><br>
			<button class="btn btn-primary">Detail</button>
			</td>
			<td><img src="img/asus.jpg" style="width:250px; height:250px"><br>
			<button class="btn btn-primary">Detail</button>
			</td>
		<tr>
		<tr>
			<td>
				<p><b>- CPU: Intel® Core™ i3-3227U Processor 1.90 GHz</b></p>
				<p><b>- RAM :4GB (4GB (SO-DIMM) x 1) DDR3L </b></p>
				<p><b>- HDD: 500 GB(Serial ATA, 5400 rpm)</b></p>
				<p><b>- DVD : DVD Super Multi Drive</b></p>
				<p><b>- Graphics : NVIDIA® GeForce® GT 740M</b></p>
				<p><b>- Display : 14" LED Backlight, Touch screen Capacitive</b></p>
				<p><b>- Weight : 2.4 kg</b></p>
				<p><b>- OS :  Windows 8 Single Language 64 bit (English Version)</b></p>
				
			</td>
			<td>
				<p><b>- CPU: Intel® Core™ i7 Processor 1.33 GHz</b></p>
				<p><b>- RAM :4GB DRR3 1600 (O.C)</b></p>
				<p><b>- HDD: 1TB</p>
				<p><b>- DVD : DVD Super Multi Drive</b></p>
				<p><b>- Graphics : Intel® HD Graphics</b></p>
				<p><b>- Display : 11,6" Full HD IPS, Touch screen Capacitive</b></p>
				<p><b>- Weight : 1.7 kg</b></p>
				<p><b>- OS :  Windows 8 Single Language 64 bit (English Version)</b></p>
				
			</td>
		<tr>
	</table>
	<hr>
	<label style="margin-left:20px">More recommend for you</label>
	<hr>

	<div class="img">
		<a target="_blank" href="">
			<img src="img/vaio2.jpg" alt="Klematis" width="110" height="100">
		</a>
	<div class="desc">sony vaio fit</div>
	</div>
	<div class="img">
		<a target="_blank" href="">
			<img src="img/Acer.jpg" alt="Klematis" width="110" height="100">
		</a>
	<div class="desc">Acer</div>
	</div>
	<div class="img">
		<a target="_blank" href="">
			<img src="img/lenovo.jpg" alt="Klematis" width="110" height="100">
		</a>
	<div class="desc">Lenovo</div>
	</div>
	<div class="img">
		<a target="_blank" href="">
			<img src="img/gate.jpg" alt="Klematis" width="110" height="100">
		</a>
	<div class="desc">Gate way</div>
	</div>
	
</body>
</html>