<!DOCTYPE html>
<html>
<link href="css/flatstrap.css" rel="stylesheet" media="screen">
<link href="css/docs.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-theme.css" rel="stylesheet" media="screen">
<head>
</head>

<body>
	<form align="right">
	<button class="btn">Cart(5)</button>
	<button class="btn">Login</button>
	</form>
	<hr>
	<form class="form-search" align="center">
		<select>
			<option>Search by serial number</option>
			<option>Search by URL</option>
		</select>
		<input type="text" placeholder="Type here...">
		<button class="btn btn-primary" type="submit">Search</button>
		
</form>
<hr>
	<table align="center" border="2"class="table table-condensed" style="width:900px; height:500px; border-collapse:collapse">
		<tr>
			<td>
				<p style="text-align:center"><b>PRODUCT</b></p>
			</td>
			<td>
				<p style="text-align:center"><b>PRODUCT DETAIL</b></p>
			</td>
		</tr>
		<tr>
			<td>
				<form action="" style="float:left">
				<a href=""><img src="img/cart.jpg" value="" width="50px" height="50px"></a>
				</form>
				<img src="img/sony2.jpg" alt="some_text" width="350px" height="350px" style ="margin-left:20px">
			</td>
			
			<td>
				<p><b>- CPU: Intel® Core™ i3-3227U Processor 1.90 GHz</b></p>
				<p><b>- RAM :4GB (4GB (SO-DIMM) x 1) DDR3L SDRAM (upgradeable to 8GB)</b></p>
				<p><b>- HDD: 500 GB(Serial ATA, 5400 rpm)</b></p>
				<p><b>- DVD : DVD Super Multi Drive</b></p>
				<p><b>- Graphics : NVIDIA® GeForce® GT 740M with NVIDIA® Optimus™ technology</b></p>
				<p><b>- Display : 14" LED Backlight, Touch screen Capacitive</b></p>
				<p><b>- Weight : 2.4 kg</b></p>
				<p><b>- OS :  Windows 8 Single Language 64 bit (English Version)</b></p>
			</td>
		</tr>
	</table>
</body>
</html>