<!DOCTYPE html>
<html>
<link href="css/flatstrap.css" rel="stylesheet" media="screen">
<link href="css/docs.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-theme.css" rel="stylesheet" media="screen">
<head>
</head>
<body>
	<table align="center">
		<legend align="center">Login to my account</legend>
		<tr>
			<td><label>User:<label>
			<td><input type="email" class="form-control" id="exampleInputEmail1"></td>
		</tr>
		<tr>
			<td><label>Password:</label></td>
			<td><input type="password" class="form-control"id="exampleInputPassword1"></td>
		</tr>
	</table>
	<hr>
	<form action="" align="center"><a href="url">Forgot your password?</a>
			<button type="button" class="btn btn-primary">Login</button>
		</form>
</body>
</html>