<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<head>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css">
	<script src="js/bootstrap.js"></script>
</head>
<body>
	<button style="float:right" type="button" class="btn btn-default" onclick="confirmLogout()">logout</button>
	<script language="JavaScript" type="text/javascript">
		function confirmLogout(){
		var agree = confirm("Are you sure you wish to logout?");

		if(agree){
		return true;

		}else{

		return false;

		}
		}
</script> 
</body>
</html>