<!DOCTYPE html>
<html>
<link href="css/flatstrap.css" rel="stylesheet" media="screen">
<link href="css/docs.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-theme.css" rel="stylesheet" media="screen">
<head>
</head>
<body>
	<table align="center">
		<legend align="center">Your Profile</legend>
		<tr>
			<td>
				<label>Gender:</label>
			</td>
			<td>
				<select>
					<option>Male</option>
					<option>Female</option>
					<option>Other</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<label>Name: </label>
			</td>
			<td>
				<input type="email" class="form-control" >
			</td>
		<tr>
	  
		<tr>
			<td><label>Last Name:</label></td>
			<td><input type="email" class="form-control"></td>
		</tr>
		
		<tr>
			<td><label>Email:</label></td>
			<td><input type="email" class="form-control" id="exampleInputEmail1"></td>
		</tr>
		
		<tr>
			<td><label>Password:</label></td>
			<td><input type="password" class="form-control"id="exampleInputPassword1"></td>
		</tr>
		
		<tr>
			<td><label>Confirm Password:</label></td>
			<td><input type="password" class="form-control"id="exampleInputPassword1"></td>
		</tr>
		</table>
		<hr>
		<table align="center">
		<tr>		
		<td align="center"><button type="button" class="btn btn-primary">Register</button></td>
		</tr>
	</table>
</body>
</html>