@{
    ViewBag.Title = "Cảm ơn";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@section navigator
{
    <div id="top-image" class="top-image4">
        <div class="container">
            <div id="top-image-caption">
                @*<h2 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif"> </h2>*@
            </div>
        </div>
    </div>
    <div class="gray-element">
    <div class="page-element standard-element-container-1">
        <div class="container element-container standard-element">
            <div class="row">
                <div class="span6 element-image-left fadeLeft animated fadeInLeft" style="visibility: visible;">
                    <img class="standard-element-image" src="/Template/stylish.holobest.com/images/slide-image-1.png" style="margin-left:50px; height:250px; width:300px">
                </div>

                <div class="span6 fadeRight animated fadeInRight" style="visibility: visible;">
                    <h3><center>Cảm ơn bạn đã giúp chúng tôi hoàn thiện hệ thống</center></h3>

                    <ul class="list">
                        <li><p>Chúng tôi sẽ xem xét sản phẩm bạn vừa đề xuất trong thời gian sớm nhất.</p></li>
                        <li><p>Khi sản phẩm bạn đề xuất được cập nhật, chúng tôi sẽ gửi thông báo.</p></li>
                        <li><p>Chúng tôi xin chân thành cảm ơn sự tin tưởng và đề xuất, đóng góp quý giá từ bạn</p></li>
                        <br /><br /><br /><br />
                    </ul>
                </div>
            </div>
        </div>
    </div>
        </div>
}

