@{
    ViewBag.Title = "ThanksForRecommend";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="element-image-center fadeDown animated fadeInDown" style="visibility: visible;">
                <img src="~/Template/stylish.holobest.com/images/buttons-loop.png" alt="browser-image">
            </div>
