@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutUserPage.cshtml";
}

<div class="breadcrumb-container">
    <div class="container">
	    <div class="relative">
		    <ul class="bc push-up unstyled clearfix">
                <li class="active">Home</li>
                <li></li>
		    </ul>
	    </div>
    </div>
</div>

