<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<head>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css">
	<script src="js/bootstrap.js"></script>
</head>
<body>
	<table align="center">
		<legend align="center">Change password</legend>
		<tr>
			<td><label>Email:<label>
			<td><input type="email" class="form-control" id="exampleInputEmail1"></td>
		</tr>
		<tr>
			<td><label>Old Password:</label></td>
			<td><input type="password" class="form-control"id="exampleInputPassword1"></td>
		</tr>
		<tr>
			<td><label>New Password:</label></td>
			<td><input type="password" class="form-control"id="exampleInputPassword1"></td>
		</tr>
		<tr>
			<td><label>Confirm new Password:</label></td>
			<td><input type="password" class="form-control"id="exampleInputPassword1"></td>
		</tr>
	</table>
	<form action="" align="center">
			<button type="button" class="btn btn-primary">Change</button>
			<button type="button" class="btn btn-danger">Cancel</button>
		</form>
</body>
</html>