<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<head>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css">
	<script src="js/bootstrap.js"></script>
	<style>
		div.img
		  {
		  margin:5px;
		  padding: 5px;
		  border:1px solid #0000ff;
		  height:130px;
		  width:auto;
		  float:left;
		  text-align:center;
		  }
		div.img img
		  {
		  display:inline;
		  margin:5px;
		  border:1px solid #ffffff;
		  }
		div.img a:hover img
		  {
		  border:1px solid #0000ff;
		  }
		div.desc
		  {
		  text-align:center;
		  font-weight:normal;
		  width:120px;
		  margin:5px;
		  }
	</style>
</head>
<body>
	<table align="center">
		<legend align="center">Compare</legend>
		<tr>
			<td><img src="img/vaio.jpg" style="width:250px; height:250px"></td>
			<td><img src="img/asus.jpg" style="width:250px; height:250px"></td>
		<tr>
		<tr>
			<td>
				<p>- CPU: Intel® Core™ i3-3227U Processor 1.90 GHz</p>
				<p>- RAM :4GB (4GB (SO-DIMM) x 1) DDR3L </p>
				<p>- HDD: 500 GB(Serial ATA, 5400 rpm)</p>
				<p>- DVD : DVD Super Multi Drive</p>
				<p>- Graphics : NVIDIA® GeForce® GT 740M</p>
				<p>- Display : 14" LED Backlight, Touch screen Capacitive</p>
				<p>- Weight : 2.4 kg</p>
				<p>- OS :  Windows 8 Single Language 64 bit (English Version)</p>
				
			</td>
			<td>
				<p>- CPU: Intel® Core™ i7 Processor 1.33 GHz</p>
				<p>- RAM :4GB DRR3 1600 (O.C)</p>
				<p>- HDD: 1TB</p>
				<p>- DVD : DVD Super Multi Drive</p>
				<p>- Graphics : Intel® HD Graphics</p>
				<p>- Display : 11,6" Full HD IPS, Touch screen Capacitive</p>
				<p>- Weight : 1.7 kg</p>
				<p>- OS :  Windows 8 Single Language 64 bit (English Version)</p>
				
			</td>
		<tr>
	</table>
	<hr>
	<label style="margin-left:20px">More recommend for you</label>
	<hr>

	<div class="img">
		<a target="_blank" href="">
			<img src="img/vaio2.jpg" alt="Klematis" width="110" height="100">
		</a>
	<div class="desc">sony vaio fit</div>
	</div>
	<div class="img">
		<a target="_blank" href="">
			<img src="img/Acer.jpg" alt="Klematis" width="110" height="100">
		</a>
	<div class="desc">Acer</div>
	</div>
	<div class="img">
		<a target="_blank" href="">
			<img src="img/lenovo.jpg" alt="Klematis" width="110" height="100">
		</a>
	<div class="desc">Lenovo</div>
	</div>
	<div class="img">
		<a target="_blank" href="">
			<img src="img/gate.jpg" alt="Klematis" width="110" height="100">
		</a>
	<div class="desc">Gate way</div>
	</div>
	
</body>
</html>