<!DOCTYPE html>
<html>
<link href="css/flatstrap.css" rel="stylesheet" media="screen">
<link href="css/docs.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-theme.css" rel="stylesheet" media="screen">
<head>
</head>

<body>
	<form align="right">
	<button class="btn">Cart(5)</button>
	<button class="btn">Login</button>
	</form>
	<hr>
	<form class="form-search" align="center">
		<select>
			<option>Search by serial number</option>
			<option>Search by URL</option>
		</select>
		<input type="text" placeholder="Type here...">
		<button class="btn btn-primary" type="submit">Search</button>
		
</form>
		<div style="width:1200px; height:500px; border-collapse:collapse" border="2">
			<div style="float:left;margin-left:200px" >
			<form action="">
				<a href=""><img src="img/cart.jpg" value="" width="50px" height="50px"></a>
				</form>
				<img src="img/sony2.jpg" alt="some_text" width="350px" height="350px" style ="margin-left:20px">
			</div>
			<div style="padding-left:400px;margin-left:200px;padding-top:100px" >
				<table>
				<thead>
				</thead>
				<tbody>
					<tr>
						<td class="btn btn-primary" style="display:block"> <span >CPU</span></td>
						<td><span class="btn btn-warning" style="display:block">Intel® Core™ i3-3227U Processor 1.90 GHz</span></td>
					</tr>
					<tr>
						<td class="btn btn-primary" style="display:block"><span>RAM</span></td>
						<td><span class="btn btn-warning" style="display:block">4GB (4GB (SO-DIMM) x 1) DDR3L SDRAM (upgradeable to 8GB)</span></td>
					</tr>
					<tr>
						<td class="btn btn-primary" style="display:block"><span>HDD</span>	</td>
						<td><span class="btn btn-warning" style="display:block">500 GB(Serial ATA, 5400 rpm)</e to 8GB)</span></td>
					</tr>
				
					<tr>
						<td class="btn btn-primary" style="display:block"><span>Display</span></td>
						<td><span class="btn btn-warning" style="display:block">Intel® Core™14" LED Backlight, Touch screen Capacitive</span></td>
					</tr>
					<tr>
						<td class="btn btn-primary" style="display:block"><span>DVD</span>	</td>
						<td><span class="btn btn-warning" style="display:block">DVD Super Multi Drive</span></td>
					</tr>
					<tr>
						<td class="btn btn-primary" style="display:block"><span>Graphics</span></td>
						<td><span class="btn btn-warning" style="display:block">NVIDIA® GeForce® GT 740M with NVIDIA® Optimus™ technology</span></td>
					</tr>
						<tr>
						<td class="btn btn-primary" style="display:block">	<span>CPU</span></td>
						<td ><span class="btn btn-warning" style="display:block">Intel® Core™ i3-3227U Processor 1.90 GHz</span></td>
					</tr>
				</tbody>
				</table>
					
				
					
			</div>
		</div>
</body>
</html>