<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<head>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css">
	<script src="js/bootstrap.js"></script>
</head>
<body>
	<table align="center">
		<legend align="center">Login to my account</legend>
		<tr>
			<td><label>Email:<label>
			<td><input type="email" class="form-control" id="exampleInputEmail1"></td>
		</tr>
		<tr>
			<td><label>Password:</label></td>
			<td><input type="password" class="form-control"id="exampleInputPassword1"></td>
		</tr>
	</table>
	<form action="" align="center"><a href="url">Forgot your password?</a>
			<button type="button" class="btn btn-primary">Login</button>
		</form>
</body>
</html>