<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<head>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css">
	<script src="js/bootstrap.js"></script>
</head>
<body>
	
	<form class="form-search" align="right" style="margin-top:10px">
  <div class="input-append">
    <input type="text" class="span2 search-query">
    <button type="submit" class="btn">Search</button>
  </div>
  </form>
	<table align="center" class="table table-hover" border ="1" style="width:900px; border-collapse:collapse">
		<tr>
			<td>#</td>
			<td><b>Name</b></td>
			<td><b>Type</b></td>
			<td><b>Size</b></td>
			<td><b>Date</b></td>
			<td><b>Action</b></td>
		</tr>
		<tr>
			<td>1</td>
			<td>danhhc@fpt.edu.vn</td>
			<td>.txt</td>
			<td>50Kb</td>
			<td>12-4-2014</td>
			<td><i class="icon-eye-open"></i><i class="icon-wrench"></i><i class="icon-trash"></i></td>
		</tr>
		<tr>
			<td>2</td>
			<td>sangph@fpt.edu.vn</td>
			<td>.txt</td>
			<td>60Kb</td>
			<td>11-5-2014</td>
			<td><i class="icon-eye-open"></i><i class="icon-wrench"></i><i class="icon-trash"></i></td>
		</tr>
		<tr>
			<td>3</td>
			<td>vietht@fpr.edu.vn</td>
			<td>.txt</td>
			<td>52Kb</td>
			<td>10-4-2014</td>
			<td><i class="icon-eye-open"></i><i class="icon-wrench"></i><i class="icon-trash"></i></td>
		</tr>
		<tr>
			<td>4</td>
			<td>lennt@fpt.edu.vn</td>
			<td>.txt</td>
			<td>50Kb</td>
			<td>12-5-2014</td>
			<td><i class="icon-eye-open"></i><i class="icon-wrench"></i><i class="icon-trash"></i></td>
		</tr>
		<tr>
			<td>5</td>
			<td>quanlm@fpt.edu.vn</td>
			<td>.txt</td>
			<td>50Kb</td>
			<td>12-4-2014</td>
			<td><i class="icon-eye-open"></i><i class="icon-wrench"></i><i class="icon-trash"></i></td>
		</tr>
		<tr></tr>
	</table>
	<div class="pagination" align="center">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
</body>
</html>