<!DOCTYPE html>
<html>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
 <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<head>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css">
	<script src="js/bootstrap.js"></script>
	<div style="width:auto; height:30px; background: #0099CC ">
		<div style="float:right; colour:black">
		<a href="url" >Cart(5)</a>
		<a href="url" >Log in</a>
		</div>
	</div>
</head>

<body>
	
	<form class="form-search" style ="text-align:center; margin-top:40px">
		<select>
			<option>Search by serial number</option>
			<option>Search by URL</option>
		</select>
		<input type="text" placeholder="Type here...">
		<button class="btn" type="submit">Search</button>
		
</form>
	<table class="table table-condensed" style="width:800px; height:500px; margin-left:280px; margin-right:100px; margin-bottom: 200px; margin-top:80px; border-collapse:collapse">
		<tr>
			<td>
				<p style="text-align:center">Sản Phẩm</p>
			</td>
			<td>
				<p style="text-align:center">Thông tin sản phẩm</p>
			</td>
		</tr>
		<tr>
			<td>
				<form action="" style="float:left">
				<INPUT type="image" src="cart.jpg" value="" width="50px" height="50px">
				</form>
				<img src="vaio.jpg" alt="some_text" width="350px" height="350px" style ="margin-left:20px">
			</td>
			
			<td style="width:400px">
				<p>- CPU: Intel® Core™ i3-3227U Processor 1.90 GHz</p>
				<p>- RAM :4GB (4GB (SO-DIMM) x 1) DDR3L SDRAM (upgradeable to 8GB)</p>
				<p>- HDD: 500 GB(Serial ATA, 5400 rpm)</p>
				<p>- DVD : DVD Super Multi Drive</p>
				<p>- Graphics : NVIDIA® GeForce® GT 740M with NVIDIA® Optimus™ technology</p>
				<p>- Display : 14" LED Backlight, Touch screen Capacitive</p>
				<p>- Weight : 2.4 kg</p>
				<p>- OS :  Windows 8 Single Language 64 bit (English Version)</p>
				<p>- Bảo hành 1 năm (Pin & Adaptor 6 tháng)</p>
			</td>
		</tr>
	</table>
</body>
</html>