<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<head>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css">
	<script src="js/bootstrap.js"></script>
</head>
<body>
	<table align="center">
		<legend align="center">Your Profile</legend>
		<tr>
			<td>
				<label>Gender:</label>
			</td>
			<td>
				<select>
					<option>Male</option>
					<option>Female</option
					<option>Other</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<label>Name: </label>
			</td>
			<td>
				<input type="email" class="form-control" >
			</td>
		<tr>
	  
		<tr>
			<td><label>Last Name:</label></td>
			<td><input type="email" class="form-control"></td>
		</tr>
		
		<tr>
			<td><label>Email:</label></td>
			<td><input type="email" class="form-control" id="exampleInputEmail1"></td>
		</tr>
		
		<tr>
			<td><label>Password:</label></td>
			<td><input type="password" class="form-control"id="exampleInputPassword1"></td>
		</tr>
		
		<tr>
			<td><label>Confirm Password:</label></td>
			<td><input type="password" class="form-control"id="exampleInputPassword1"></td>
		</tr>
		
	<table>
			<legend align="center"></legend>
	<table align="center">
		<legend align="center">Your Address</legend>
		
		<tr>
			<td>
				<label>Streets: </label>
			</td>
			<td>
				<input type="email" class="form-control" >
			</td>
		<tr>
	  
		<tr>
			<td><label>Districts:</label></td>
			<td><input type="email" class="form-control"></td>
		</tr>
		
		<tr>
			<td><label>City/Province:</label></td>
			<td><input type="email" class="form-control" id="exampleInputEmail1"></td>
		</tr>
		
		<tr>
			<td><label>Phone number:</label></td>
			<td><input type="email" class="form-control" id="exampleInputEmail1"></td>
		</tr>
	</table>
			<legend align="center"></legend>
	<form action=""align="center">
		<input type="checkbox" name="checkbox" value="Bike">I have read and accept the terms of use and privacy policy .<br>
		<button type="button" class="btn btn-primary">Register</button>
	</form>
	
</body>
</html>