@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutUserPage.cshtml";
}

<div class="breadcrumb-container">
    <div class="container">
	    <div class="relative">
		    <ul class="bc push-up unstyled clearfix">
                <li class="active">Home</li>
                <li></li>
		    </ul>
	    </div>
    </div>
</div>

<main id="main-content" role="main">
    <div class="container">
	    <div class="row">
            <div class="m-t-b clearfix">
                <!-- SIDEBAR -->
                <aside class="col-xs-12 col-sm-4 col-md-3">
					<section class="sidebar push-up">
						<!-- Search Panel -->
						<section class="side-section bg-white">
							<header class="side-section-header">
								<h3 class="side-section-title">Tìm Kiếm</h3>
							</header>
							<div class="side-section-content">
								<!-- SEARCH BOX -->
								<div class="search-box">
									<form action="#" method="post">
										<div class="input-iconed prepend">
											<button class="input-icon"><i class="iconfont-search"></i></button>
											<label for="input-search" class="placeholder">Tên sản phẩm...</label>
											<input type="text" name="q" id="input-search" class="round-input full-width" required />
										</div>
									</form>
								</div>
								<!-- // SEARCH BOX -->		
							</div>
						</section>
						<!-- // Search Panel -->
					</section>
				</aside>
				<!-- // SIDEBAR -->

                <section class="col-xs-12 col-sm-8 col-md-9">
                    <section class="products-wrapper">
                        <header class="products-header">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 center-xs">
									<!-- DISPLAY MODE -->
									<ul class="unstyled inline-li li-m-r-l-sm pull-left">
										<li><a class="round-icon active" href="#" data-toggle="tooltip" data-layout="grid" data-title="Switch to List Grid Mode"><i class="iconfont-th"></i></a></li>
										<li><a class="round-icon" href="#" data-toggle="tooltip" data-layout="list" data-title="Switch to List View Mode"><i class="iconfont-list"></i></a></li>
									</ul>
									<!-- // DISPLAY MODE -->
											
									<!-- NUMBER OF ITEMS TO BE DISPLAY -->
									<div class="pull-right m-l-lg">
										<span class="inline-middle m-r-sm text-xs">Show</span>
										<div class="inline-middle styled-dd">
											<select>
												<option value="9">9</option>
												<option value="12" selected>12</option>
												<option value="24">24</option>
												<option value="36">36</option>
											</select>
										</div>
									</div>
									<!-- // NUMBER OF ITEMS TO BE DISPLAY -->
								</div>

								<div class="space30 visible-xs"></div>

								<!-- PAGINATION -->
								<div class="col-xs-12 col-sm-12 col-md-6 center-xs">
									<ul class="paginator li-m-r-l pull-right">
										<li><a class="round-icon" href="#" data-toggle="tooltip" data-title="Previous Page"><i class="iconfont-angle-left"></i></a></li>
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li><a href="#">5</a></li>
										<li><a class="round-icon" href="#" data-toggle="tooltip" data-title="Next Page"><i class="iconfont-angle-right"></i></a></li>
									</ul>
								</div>
								<!-- // PAGINATION -->
							</div>
						</header>

                        <div class="products-layout grid m-t-b add-cart" data-product=".product" data-thumbnail=".entry-media .thumb" data-title=".entry-title > a" data-url=".entry-title > a" data-price=".entry-price > .price">
                            <div class="product" data-product-id="1" data-category="women|women-jeans|women-skirt" data-brand="brand1" data-price="250" data-colors="red|blue|black|white" data-size="S|M|L">
								<div class="entry-media">
									<img data-src="images/women/skirt/430041-0014_1_t.jpg" alt="" class="lazyLoad thumb" />
									<div class="hover">
										<a href="product.html" class="entry-url"></a>
										<ul class="icons unstyled">
											<li>
												<a href="#" class="circle add-to-cart"><i class="iconfont-shopping-cart"></i></a>
											</li>
										</ul>
										<div class="rate-bar">
											<input type="range" value="4.5" step="0.5" id="backing1" />
											<div class="rateit" data-rateit-backingfld="#backing1" data-rateit-starwidth="12" data-rateit-starheight="12" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5"></div>
										</div>
									</div>
								</div>
								<div class="entry-main">
									<h5 class="entry-title">
										<a href="product.html">Inceptos orci hac libero</a>
									</h5>
									<div class="entry-description visible-list">
										<p>Sed ornare cras donec litora integer curabitur orci, at nullam aliquam libero nam himenaeos, amet massa amet ut ipsum viverra mauris rhoncus neque aenean rhoncus gravida orci facilisis quis dui consectetur.</p>
									</div>
									<div class="entry-price">
										<s class="entry-discount">$ 350.00</s>
										<strong class="accent-color price">$ 250.00</strong>
										<a href="#" class="btn btn-round btn-default add-to-cart visible-list">Add to Cart</a>
									</div>
									<div class="entry-links clearfix">
										<a href="#" class="pull-left m-r">+ Add to Wishlist</a>
										<a href="#" class="pull-right">+ Add to Compare</a>
									</div>
								</div>
							</div>
                        </div>
                    </section>
                </section>
            </div>
        </div>
    </div>
</main>

